.button {
    width: 110px;
    padding: 5px 10px;
    border-width: thin;
    cursor: pointer;
}

.button--signin {
    background: map-get($colors, 'color-white');
    color: map-get($colors, 'color-spanishGray');
    border-color: map-get($colors, 'color-spanishGray');
}

.button--signin:hover {
    background: map-get($colors, 'color-isabelline');
    color: map-get($colors, 'color-black');
    border-color: map-get($colors, 'color-black');
}

.button--signup {
    background: map-get($colors, 'color-shinyShamrock');
    color: map-get($colors, 'color-white');
    border-color: map-get($colors, 'color-shinyShamrock');
}

.button--signup:hover {
    background: map-get($colors, 'color-turquoiseGreen');
    color: map-get($colors, 'color-black');
    border-color: map-get($colors, 'color-turquoiseGreen');
}

.buttons {
    padding-left: 0;
    justify-content: center;

    @include media-breakpoint('lg') {
        justify-content: end;
    }
}