/* BLOQUES */
    /* Bloque Logo */
    .logo {
        display: flex;
        height: 40px;
        padding: 20px 0;
    }

    .main {
        width: 100%;
    }

    .posts {
        row-gap: 20px;
        column-gap: 50px;
        padding-bottom: 30px;
    }

    .news {
        width: 600px;
    }

    .history {
        width: 450px;
        margin-top: 48px;
    }

    .logoDL {
        display: flex;
    }

    .outstanding {
        padding-bottom: 30px;
        grid-template-columns: 620px 330px;
        column-gap: 150px;
    }

    .popular {
        width:620px;
    }

    .hr {
        width: 1100px;
    }

/* ELEMENTOS */
    .logo__image {
        height: 100%;
        border-radius: 7px;
    }

    .news__card__image {
        height: 320px;
    }

    .logoDL__image {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .logoDL__text {
        margin-left: 10px;
        font-size: 22px;
    }

    .history__card {
        display: flex;
        margin-top: 20px;
    }

    .history__card__image {
        width: 190px;
        height: 145px;
        object-fit: cover;
    }

    .history__card__body {
        margin-left: 20px;
    }

    .history__card__body__date {
        margin-top: 7px;
        margin-bottom: 5px;
    }

    .history__card__body__title {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card__body__logoDL {
        display: flex;
    }

    .card__body__logoDL__image {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .card__body__logoDL__text {
       margin-top: 10px;
    }

    .popular__cards {
        width: 100%;
        grid-template-columns: 298px 298px;
        gap: 24px;
    }

    .popular__cards__card {
        width: 298px;
    }

    .popular__cards__card__image {
        height: 200px;
    }

    .categories__logos {
        border-radius: 10px;
        display: flex;
        text-align: end;
        margin-bottom: 20px;
    }

    .categories__logos__image {
        height: 74px;
        padding: 10px 0px 10px 10px;
    }

    .categories__logos__text {
        width: 100%;
        padding-right: 20px;
        font-size: 28px;
    }

    .categories__text {
        margin-top: 32px;
        font-size: 24px;
    }

/* MODIFICADORES */
    /* Márgenes del texto del logo */
    .logo__text--margin {
        margin: auto 10px
    }

/* MODIFICADORES GLOBALES */
    /* Ancho del contenido general al 90 del viewport */
    .containerType--width {
        width: 1100px;
    }

    /* Centrado de cualquier bloque */
    .block--centered {
        margin: 0 auto;
    }

    /* Texto en regular */
    .text--regular {
        font-weight: 400;
    }

    /* Texto en medium */
    .text--medium {
        font-weight: 500;
    }

    /* Texto en bold */
    .text--bold {
        font-weight: 700;
    }

    /* Borde redondeado de las imágenes de las tarjetas */
    .card__image--border-radius {
        border-radius: 20px;
    }

    /* Tipo de fuente para el body */
    .body--font {
        font-family: 'Poppons', sans-serif;
    }

    /* Bloque tipo grid */
    .grid {
        display: grid; 
    }

    /* Bloque con 2 columnas */
    .grid-2 {
        grid-template-columns: auto auto;
    }

    .card__image {
        width: 100%;
        object-fit: cover;
    }

    .bg--color1 {
        background: #e93e30;
    }

    .bg--color2 {
        background: #F7E018;
    }

    .bg--color3 {
        background: #299ED5;
    }

    .bg--color4 {
        background: #292C33;
    }

    .bg--color5 {
        background: #67C770;
    }

    .bg--color6 {
        background: #563D7C;
    }

    .text--white {
        color: #fff;
    }