/* GLOBALES */
    /* Ancho del contenido general al 90 del viewport */
    .containerType--width {
        width: 1100px;
    }

    /* Centrado de cualquier bloque */
    .block--centered {
        margin: 0 auto;
    }

    /* Texto en regular */
    .text--regular {
        font-weight: 400;
    }

    /* Texto en medium */
    .text--medium {
        font-weight: 500;
    }

    /* Texto en bold */
    .text--bold {
        font-weight: 700;
    }

    /* Borde redondeado de las imágenes de las tarjetas */
    .card__image--rounded {
        border-radius: 20px;
    }

    /* Tipo de fuente para el body */
    .body--font {
        font-family: 'Poppons', sans-serif;
    }

    /* Bloque tipo grid */
    .grid {
        display: grid;
        row-gap: 20px;
        column-gap: 50px;
    }

    /* Bloque con 2 columnas */
    .grid-2 {
        grid-template-columns: auto auto;
    }

    .card__image {
        width: 100%;
    }

/* BLOQUES */
    /* Bloque Logo */
    .logo {
        display: flex;
        height: 40px;
        padding: 20px 0;
    }

    .main {
        width: 100%;
    }

    .news {
        width: 600px;
    }

    .history {
        width: 450px;
        margin-top: 48px;
    }

    .logoDL {
        display: flex;
    }

/* ELEMENTOS */
    .logo__image {
        height: 100%;
        border-radius: 7px;
    }

    .news__card__image {
        object-fit: cover;
        height: 320px;
    }

    .logoDL__image {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .logoDL__text {
        margin-left: 10px;
        font-size: 22px;
    }

    .history__card {
        display: flex;
        margin-top: 20px;
    }

    .history__card__image {
        width: 190px;
        height: 145px;
        object-fit: cover;
    }

    .history__card__body {
        margin-left: 20px;
    }

    .history__card__body__date {
        margin-top: 7px;
        margin-bottom: 5px;
    }

    .history__card__body__title {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .history__card__body__logoDL {
        display: flex;
    }

    .history__card__body__logoDL__image {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .history__card__body__logoDL__text {
       margin-top: 10px;
    }

    .popular__card {
        width: 298px;
    }

    .popular__card__image

/* MODIFICADORES */
    /* Márgenes del texto del logo */
    .logo__text--margin {
        margin: auto 10px
    }