.posts {
    row-gap: var(--20);
    column-gap: var(--50);
    padding-bottom: var(--30);
}

.news {
    width: calc(var(--500) + var(--100));

    .news__card {

        .news__card__image {
            height: calc(var(--300) + var(--20));
        }   

        .news__card__body {   

            .news__card__body__logo__image {
                width: calc(var(--50) + var(--10)) !important;
                height: calc(var(--50) + var(--10));
            }
    
            .news__card__body__logo__text {
                margin-left: var(--10);
            }
        }
    }
}

.history {
    margin-top: calc(var(--50) + var(--5));

    .history__card {
        margin-top: var(--20);
    
        .history__card__image {
    
            .history__card__image__img {
                width: calc(var(--100) + var(--50) + var(--40));
                height: calc(var(--100) + var(--40) + var(--5));
            }
        }
    }
}

.outstanding {
    grid-template-columns: calc(var(--500) + var(--100) + var(--20)) calc(var(--300) + var(--30));
    column-gap: calc(var(--100) + var(--50));
    padding-bottom: var(--30);

    .popular {
        width: calc(var(--500) + var(--100) + var(--20));

        .popular__cards {
            width: var(--rel-100);
            grid-template-columns: calc(var(--200) + var(--50) + var(--40) + var(--5) + var(--3)) calc(var(--200) + var(--50) + var(--40) + var(--5) + var(--3));
            gap: calc(var(--20) + var(--4));
        }
    }

    .categories {
        .categories__brands {
            border-radius: var(--10);
            margin-bottom: var(--20);

            .categories__brands__image {
                height: calc(var(--50) + var(--10) + var(--5));
                padding: var(--10) var(--none) var(--10) var(--10);
            }

            .categories__brands__text {
                width: var(--rel-100);
                padding-right: var(--20);
            }
        }
    }
}