.bg--black {
    background: var(--color-black);
}

.bg--red {
    background: var(--color-red);
}

.bg--yellow {
    background: var(--color-yellow);
}

.bg--lightblue {
    background: var(--color-lightblue);
}

.bg--dark {
    background: var(--color-dark);
}

.bg--green {
    background: var(--color-green);
}

.bg--lightgreen {
    background: var(--color-lightgreen);
}

.bg--purple {
    background: var(--color-purple);
}

.bg--lightgrey {
    background: var(--color-lightgrey);
}